@import "null.css";
.image-general{
   background-size: cover;
    background: url("../img/3.jpg") 50% 0 / auto 100% no-repeat;

}
.info{
    display: block;
    margin: 0px auto;
    max-width: 1025px;
    background: rgba(228, 220, 113, 0.507);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    border: 1px solid rgba(245, 200, 54, 0.86); 
    padding-left: 10px;
    padding-right: 10px;

}

h1{
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    font-size: calc(1.359375rem + 1.3125vw);
    color: #333333;
    text-align: left;
    padding: 30px 0 30px 0;
}
h2{
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    font-size: 24px;
    padding: 30px 0 30px 0;
    color: #333333;
    text-align: left;
    
}  

p{
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    font-size: 0.9375rem;
    color: #333333; 
    text-align: justify;
    padding:12px 10px 12px 20px;
    
}

.image {
content: "";
display: block;
margin: 0px auto;
max-width:300px;
background: url("../img/1.jpg") 0 0  no-repeat;

}
.image:hover{
    transform: scale(1.5);
    box-shadow: 0 15px 15px  0 #333333; 
}
a:visited {
    color:rgb(236, 225, 227);
    
}
.image{
    max-width: 300px;
    display: block;
    margin: 0px auto;
}
p:target {
    background-color: rgba(0, 183, 255, 0.384);
    border-radius: 5px;
    
  }
  
    p:target::before {
    font: 70% sans-serif;
    content: "";
      }
  li{
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    font-size: 0.9375rem;
    color: #333333; 
    text-align: left;
    padding: 12px 30px 12px 30px;
    text-align: justify;
    border-radius: 15px;
    }
   
   
    .text-block li:first-of-type{
         background-color: #c5978b; 
         
    }
    .text-block li:first-of-type:hover{
        box-shadow: 0 15px 15px  0 #333333;
        background-color: #c5978b67; 
        margin-bottom: 5px;
    }
    .text-block *:first-child {
        background-color: #c5978b;
        
            }
    .text-block li:last-child:hover {
        box-shadow: 0 15px 15px  0 #333333; 
        background-color: #c5978b86;
        margin-bottom: 5px;
    
    }   
    .text-block li:last-child {
        background-color: #c0cf8a;
        
    }
    .text-block li:nth-child(3){
	background-color: #77608d; 
    
}
.text-block li:nth-child(3):hover{
    box-shadow: 0 15px 15px  0 #333333; 
    background-color: #77608d83; 
    margin-bottom: 5px;

}
.text-block li:nth-child(even) {
	 background-color: #c8dd0e; 
    
}
.text-block li:nth-child(even):hover{
    box-shadow: 0 15px 15px  0 #333333; 
    background-color: #dd0e8e85; 
     margin-bottom: 5px;
} 
.block li:nth-child(1n){
    background-color: #0ebedd;
    
}
.block li:nth-child(1n):hover{
    box-shadow: 0 15px 15px  0 #333333; 
    background-color: #dd0e8e85; 
    margin-bottom: 5px;
}
.block li:nth-child(1n+2){
    background-color: #0edd8e; 
    
    
}.block li:nth-child(1n+2):hover{
    box-shadow: 0 15px 15px  0 #333333; 
    background-color:#0edd427c; 
}

p::first-line{
    font-style: italic;
}
p::first-letter{
    font-family: "Pattaya";
    font-weight: 400;
    font-size: 30px;
}

.text-block li::before{
    content: "\2764	";
	width: 20px;
	height: 20px;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	transition: all 0.1s  0s;
}
li:hover::before {
	transform: scale(2.0);  
}
.block {
	counter-reset: item;
    padding: 5px 0 5px 0;
}
.block li::before {
	counter-increment: item;
	content: "\2727	" counter(item) "";
	margin: 0px 10px 0px 0px;
	color: rgb(232, 232, 236);
	font-size: 20px;
}
.link-example {
	background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
	display: block;
	padding: 15px 30px;
	border-radius: 20px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-shadow: 0 5px 0 0 rgba(201, 196, 73, 0.808);
    font-family: "Pattaya";
    font-weight: 400;
    text-align: center;
    margin: 0px auto;

}
.margin{
    padding-bottom: 50px;
}
.link-example:hover {
	margin: 1px 0px 0px 0px;
	box-shadow: 0 4px 0 0 rgba(238, 119, 8, 0.993);
}
.link-example:active {
	margin: 4px 0px 0px 0px;
	box-shadow: 0 0px 0 0 rgb(0, 0, 0), inset 0 0px 5px 0 rgb(0, 0, 0);
}

